<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>eAccessibleClientWeb</display-name>
  <welcome-file-list>
    <welcome-file>Inici.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>JspFinal</display-name>
    <servlet-name>JspFinal</servlet-name>
    <jsp-file>/JspFinal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>JspFinal</servlet-name>
    <url-pattern>/jFinal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaLocal</display-name>
    <servlet-name>AltaLocal</servlet-name>
    <jsp-file>/AltaLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaLocal</servlet-name>
    <url-pattern>/AltaLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormTipoLocal</display-name>
    <servlet-name>FormTipoLocal</servlet-name>
    <jsp-file>/FormTipoLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormTipoLocal</servlet-name>
    <url-pattern>/FormTipoLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AltaRealitzada</display-name>
    <servlet-name>AltaRealitzada</servlet-name>
    <jsp-file>/AltaRealitzada.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AltaRealitzada</servlet-name>
    <url-pattern>/AltaRealitzada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaLocal</display-name>
    <servlet-name>CercaLocal</servlet-name>
    <jsp-file>/CercaLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaLocal</servlet-name>
    <url-pattern>/CercaLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CercaLocalLlarga</display-name>
    <servlet-name>CercaLocalLlarga</servlet-name>
    <jsp-file>/CercaLocalLlarga.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CercaLocalLlarga</servlet-name>
    <url-pattern>/CercaLocalLlarga</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>llistaLocals</display-name>
    <servlet-name>llistaLocals</servlet-name>
    <jsp-file>/llistaLocals.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>llistaLocals</servlet-name>
    <url-pattern>/llistaLocals</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarLocal</display-name>
    <servlet-name>BorrarLocal</servlet-name>
    <jsp-file>/BorrarLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarLocal</servlet-name>
    <url-pattern>/BorrarLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InformacioLocal</display-name>
    <servlet-name>InformacioLocal</servlet-name>
    <jsp-file>/InformacioLocal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>InformacioLocal</servlet-name>
    <url-pattern>/InformacioLocal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalEliminat</display-name>
    <servlet-name>LocalEliminat</servlet-name>
    <jsp-file>/LocalEliminat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalEliminat</servlet-name>
    <url-pattern>/LocalEliminat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalVerificat</display-name>
    <servlet-name>LocalVerificat</servlet-name>
    <jsp-file>/LocalVerificat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalVerificat</servlet-name>
    <url-pattern>/LocalVerificat</url-pattern>
  </servlet-mapping>
</web-app>